<a href="https://colab.research.google.com/github/umeshh3991/Scaler/blob/main/Iterations_While_Mod_1_Lec_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Iterations

1. While

- Write a program to add number until N

In [6]:
N = int(input("Enter the number N : "))
i=1
s=0

while(i <= N):
  s += i
  i += 1

print(s)

Enter the number N : 4
10

- Find the sum of range [a,b]

In [13]:
n1 = int(input("Enter the starting point : "))
n2 = int(input("Enter the ending point : "))

i = n1

while(i < n2):
  i += 1
  n1 += i

print(n1)

Enter the starting point : 10
Enter the ending point : 11
21

Few decremental while loops e.g

In [16]:
i = 10

while (i > 0):
  print(i)
  i -= 1

10
9
8
7
6
5
4
3
2
1

In [18]:
i = 10

while(i > 0):
  print(i)
  i -= 2

10
8
6
4
2

- The code which will never stop

In [ ]:
i = 0

while True:
  print(i)
  i += 1

- The code will never execute

In [19]:
i = 0

while False:
  print(i)
  i += 1

2. Continue

- Find the sum of all the even numbers in [a,b]. But this is a very bad example for continue statement

In [23]:
n1 = int(input("Enter the first number : "))
n2 = int(input("Enter the second number : "))

i = n1
s = 0

while(i <= n2):
  if (i % 2 == 0):
    s += i
  i += 1

print(s)

Enter the first number : 5
Enter the second number : 10
24

- Example for continue statement

In [25]:
i = 0

while (i < 5):
  i += 1
  if (i == 3):
    continue
  print(i)

1
2
4
5

3. Break

In [26]:
i = 0

while (i < 5):
  i += 1
  if (i == 3):
    break
  print(i)

1
2

4. Pass

In [28]:
i = 4

if (i % 2 == 0):
  pass
else:
  print("Number is odd")