<a href="https://colab.research.google.com/github/umeshh3991/Scaler/blob/Module-3/Mod_3_Lec_4_Recursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Factorial

In [ ]:
def factorial(n):

  print("Executing factorial of ",n)

  if n == 1 or n == 0:
    return 1

  res = n * factorial(n-1)
  print("Completed calculating factorial of ",n)
  return (res)

factorial(4)

Executing factorial of  4
Executing factorial of  3
Executing factorial of  2
Executing factorial of  1
Completed calculating factorial of  2
Completed calculating factorial of  3
Completed calculating factorial of  4

24

## Merge Sort

Q. WAP to sort elements using merge sort

In [ ]:
def merge(arr1, arr2):
  i = 0
  j = 0
  result = []
  count = 0

  while(i < len(arr1) and j < len(arr2)):

    print("Merge Function ",arr1)
    print("Merge Function ",arr2)

    #count += 1
    #print("Iterations #",count)

    if (arr1[i] < arr2[j]):
      result.append(arr1[i])
      i += 1

    else:
      result.append(arr2[j])
      j += 1

  if (i < len(arr1)):
      result = result + arr1[i:]

  if (j < len(arr2)):
      result = result + arr2[j:]

  return(result)

In [ ]:
def merge_sort(arr):

  n = len(arr)
  mid = n // 2

  if n == 1:
    return(arr)

  left = merge_sort(arr[:mid])
  right = merge_sort(arr[mid:])

  print("Merge SORT Function ",left)
  print("Merge SORT Function ",right)

  return(merge(left,right))

In [ ]:
my_mrg_arr = [5, 2, 6, 1, 7, 8, 3, 4]

In [ ]:
merge_sort(my_mrg_arr)

Merge SORT Function  [5]
Merge SORT Function  [2]
Merge Function  [5]
Merge Function  [2]
Merge SORT Function  [6]
Merge SORT Function  [1]
Merge Function  [6]
Merge Function  [1]
Merge SORT Function  [2, 5]
Merge SORT Function  [1, 6]
Merge Function  [2, 5]
Merge Function  [1, 6]
Merge Function  [2, 5]
Merge Function  [1, 6]
Merge Function  [2, 5]
Merge Function  [1, 6]
Merge SORT Function  [7]
Merge SORT Function  [8]
Merge Function  [7]
Merge Function  [8]
Merge SORT Function  [3]
Merge SORT Function  [4]
Merge Function  [3]
Merge Function  [4]
Merge SORT Function  [7, 8]
Merge SORT Function  [3, 4]
Merge Function  [7, 8]
Merge Function  [3, 4]
Merge Function  [7, 8]
Merge Function  [3, 4]
Merge SORT Function  [1, 2, 5, 6]
Merge SORT Function  [3, 4, 7, 8]
Merge Function  [1, 2, 5, 6]
Merge Function  [3, 4, 7, 8]
Merge Function  [1, 2, 5, 6]
Merge Function  [3, 4, 7, 8]
Merge Function  [1, 2, 5, 6]
Merge Function  [3, 4, 7, 8]
Merge Function  [1, 2, 5, 6]
Merge Function  [3, 4, 7, 8]
Merge Function  [1, 2, 5, 6]
Merge Function  [3, 4, 7, 8]
Merge Function  [1, 2, 5, 6]
Merge Function  [3, 4, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
def foo(tar):

  if tar == 5 or tar == 2:
    return(tar)

  left = foo(tar/2)
  right = foo(tar/5)

  print(left)
  print(right)

In [ ]:
foo(10)

5.0
2.0

In [ ]:
def bar(get):

  foo(10)

  return (foo(get))

In [ ]:
def merge_sort1(arr):

  n = len(arr)
  mid = n // 2

  if n == 1:
    return(arr)

  left = merge_sort1(arr[:mid])
  right = merge_sort1(arr[mid:])

  return(merge1(left,right))

In [ ]:
def merge1(arr1,arr2):

  i = 0
  j = 0

  result = []

  while (i < len(arr1) and j < len(arr2)):

    if (arr1[i] < arr2[j]):
      result.append(arr1[i])
      i += 1

    else:
      result.append(arr2[j])
      j += 1

  if (i < len(arr1)):
    result += arr1[i:]

  if (j < len(arr2)):
    result += arr2[j:]

  return(result)

In [ ]:
new_arr = [5,2,6,1,7,8,3,4]

In [ ]:
merge_sort1(new_arr)

[1, 2, 3, 4, 5, 6, 7, 8]

Q. Find the sum of all the numbers from n to 1

In [ ]:
def sum1(add1):

  result = 0

  if add1 == 1:
    return 1

  result = add1 + sum1(add1-1)

  return(result)

In [ ]:
sum1(10)

55

In [ ]:
10+9+8+7+6+5+4+3+2+1

55

Q. Write a recursive function to find sum of n numbers

In [ ]:
def sum_numbers(n):

  result = 0

  if n == 1:
    return n

  result = n + sum_numbers(n-1)

  return result

In [ ]:
sum_numbers(960)

RecursionError: maximum recursion depth exceeded in comparison

Q. Write a iterative function to find sum of n numbers

In [ ]:
def sum_iter(n):

  i = 0
  result = 0

  for i in range(1,n+1):
    result += i

  return(result)

In [ ]:
sum_iter(960)

461280

Q. Write a recursive function to find the exponent given base and power

- Here in below code recursive function won't work for greater numbers as function is Linear

In [ ]:
def expo(base, power):

  result = 1

  if power == 1:
    return base

  result = base * expo(base,power-1)

  return(result)

In [ ]:
expo(2,5)

32

- Here in below code recursive function will work for greater numbers but will give incorrect results

In [ ]:
def expo_eff(base, power):

  result = 1

  if power == 1:
    return base

  result = expo_eff(base,power//2)

  return(result * result)

In [ ]:
expo_eff(2,10)

256

- Here in below code recursive function will work for greater numbers with correct results

In [ ]:
def expo_eff_odd(base, power):

  result = 1

  if power == 1:
    return base

  if (power % 2 == 0):
    result = expo_eff_odd(base,power//2)
    return(result * result)

  else:
    result = expo_eff_odd(base,power//2)
    return (base * result * result)

In [ ]:
expo_eff_odd(2,1000)

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

Q. WAP for performing Binary Search using Recursion

In [59]:
def bin_search(arr,target):

  start = 0
  end = len(arr)

  while start < end:

    print(arr)

    mid = (start + end) // 2

    if arr[mid] == target:
      return mid

    elif target < arr[mid]:
      end = mid-1
      bin_search(arr[:end],target)

    else:
      start = mid + 1
      bin_search(arr[start:],target)

In [61]:
my_arr = [10,20,30,40,50,60,70,80,90,100]
my_target = 90

bin_search(my_arr,my_target)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[70, 80, 90, 100]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

8