<a href="https://colab.research.google.com/github/umeshh3991/Scaler/blob/Module-3/Mod_3_Lec_1_Python_Refresher.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Comprehension

Q. Print the squares of number from 1 to 10

In [ ]:
arr = []

for i in range(1,11):
  arr.append(i**2)

arr

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q. Print the squares of number from 1 to 10 using List Comprehension

In [ ]:
arr = [ i ** 2 for i in range (1,11)]

arr

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q. Print the squares of number from 1 to 10 using Set Comprehension

In [ ]:
arr = { i ** 2 for i in range (1,11)}

arr

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

Q. Print the squares of number from 1 to 10 using Dictionary Comprehension

In [ ]:
arr = { i : i ** 2 for i in range (1,11)}

arr

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

Q. Print the squares of number from 1 to 10 using Generator Comprehension

In [ ]:
arr =  (i ** 2 for i in range (1,11))

print(arr)
print(type(arr))

<generator object <genexpr> at 0x7eda5b0983c0>
<class 'generator'>

## Iter()

In [ ]:
arr = [1, 2, 3]

In [ ]:
iter(arr)

## Next()

In [ ]:
arr = [1, 2, 3]

it = iter(arr)

In [ ]:
next(it)

1

In [ ]:
next(it)

2

In [ ]:
next(it)

3

Q. fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

1.  newlist = [x  for x in fruits if x != "apple" ]

2. newlist = [x if x != "banana" else "orange" for x in fruits]

why in these examples 'if' statements are differently positioned?

In [1]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

In [4]:
newlist = [x for x in fruits if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [6]:
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [7]:
newlist = [x for x in fruits if x != "banana" else "orange"]
print(newlist)

SyntaxError: invalid syntax (<ipython-input-7-7e81c728284a>, line 1)