<a href="https://colab.research.google.com/github/umeshh3991/Scaler/blob/Module-2/Mod_3_Lec_5_2D_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 2-D List

In [ ]:
a = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    ]

In [ ]:
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
a[2][1]

8

Q. Take a 3x3 matrix as an input from the user. Given the matrix
   - Calculate the sum of all the elements in the matrix.
   - Calculate the sum of each row.
   - Calculate the sum of each column.

In [3]:
## Creating a 3x3 matrix by taking input from user

arr = []

for i in range(3):
  row = []
  for j in range(3):
    row.append(int(input()))
  arr.append(row)

print(arr)

1
2
3
4
5
6
7
8
9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## Using Range function in FOR loop

In [ ]:
## Calculate the sum of all the elements in the matrix.

sum = 0

for i in range(len(arr)):
  for j in range(len(arr)):
    sum = sum + arr[i][j]

print(sum)

45

In [ ]:
##Calculate the sum of each row.

sum = 0

for i in range(len(arr)):
  for j in range(len(arr)):
    sum = sum + arr[i][j]
  print(sum)
  sum = 0

6
15
24

In [ ]:
## Calculate the sum of each column.

sum = 0

for i in range(len(arr)):
  for j in range(len(arr)):
    sum = sum + arr[j][i]
  print(sum)
  sum = 0

12
15
18

## Using VALUE in FOR Loop

In [7]:
arr

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
## Calculate the sum of all the elements in the matrix.

sum = 0

for i in arr:
  for j in i:
    sum = sum + j

print(sum)

45

In [11]:
##Calculate the sum of each row.

sum = 0

for i in arr:
  for j in i:
    sum = sum + j
  print(sum)
  sum = 0

6
15
24

In [22]:
## Calculate the sum of each column.

sum = 0

for i in range(len(arr)):
  for j in arr:
    sum = sum + j[i]
  print(sum)
  sum = 0

12
15
18

In [21]:
#  If you don't get the above code this is the clue

for j in arr:
  print(j)
  print(j[0])

[1, 2, 3]
1
[4, 5, 6]
4
[7, 8, 9]
7

## Map

In [29]:
a = [1,2,3,4,5]
res = []

for i in a:
  res.append(i ** 2)

print(res)

[1, 4, 9, 16, 25]

In [31]:
a = [1, 2, 3, 4, 5]

def square(x):
  return (x ** 2)

In [34]:
list(map(square, a))

[1, 4, 9, 16, 25]

In [38]:
a = input().split()

1 2 3 4 5

In [41]:
print(a)
type(a[0])

['1', '2', '3', '4', '5']

str

In [43]:
## Conver the list of strings in list of int. We can use map(func,keyword) for this

list(map(int,a))

[1, 2, 3, 4, 5]