<a href="https://colab.research.google.com/github/umeshh3991/Scaler/blob/Module-4/Mod_4_Lec_1_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [5, 3, 4, 2, 1]

In [ ]:
a.sort() # Object Oriented approach

In [ ]:
a

[1, 2, 3, 4, 5]

In [ ]:
b = [5, 3, 4, 2, 1]

In [ ]:
sorted(b) # Functional approach

[1, 2, 3, 4, 5]

## CREATE AN OBJECT

In [ ]:
class Dog:
  def speak():    ## Method or behaviour of class
    print ("Bark Bark")

In [ ]:
d1 = Dog() # Creating object of a class
d1.speak() # Method of Object d1

TypeError: Dog.speak() takes 0 positional arguments but 1 was given

In [ ]:
d1

## Creating object without error

In [ ]:
class Cat:
  def speak(self): ## self is c1 which is passed as the first argument as c1 is performing this method
    print ("Meow Meow")

In [ ]:
c1 = Cat()

In [ ]:
c1.speak()

Meow Meow

## DUNDERS

In [ ]:
class Dog:
  def __init__(self):
    print("Created a Dog Object")

In [ ]:
d1 = Dog()

Created a Dog Object

HW https://docs.python.org/3/reference/datamodel.html#basic-customization -- check this

Q. WAP to return a list with square of even numbers using class

In [ ]:
a = [1, 2, 3, 4]

In Below code we don't know how even number filtered out and we got square

In [ ]:
def even_square(arr):
  result = []
  for i in arr:
    if i % 2 == 0:
      result.append(i ** 2)
  return result

even_square(a) # Highly Abstracted

[4, 16]

In Below code we know how even number filtered out and we got square

In [ ]:
def get_even_numbers(arr):
  result = []
  for i in arr:
    if (i % 2 == 0):
      result.append(i)
  return result

def square_even(arr):
  result_even = []
  for i in arr:
    result_even.append(i ** 2)
  return result_even

square_even(get_even_numbers(a)) # Low abstract

[4, 16]

## Encapsulation

In [1]:
names = ["Umesh","Rajiv","Riya","Gaurav"] # List different so very difficult to maintain
marks = [89, 99, 23, 45]

names.index("Rajiv")

1

In [2]:
marks[1]

99

In [4]:
students = [
          {"name" : "Umesh", "marks" : 89},
          {"name" : "Rajiv", "marks" : 99},
          {"name" : "Riya", "marks" : 23},
          {"name" : "Gaurav", "marks" : 45}
          ]                                     # Encapsulated the data in a proper way

In [5]:
type(students)

list

In [115]:
class Member:
  name = ""

In [116]:
m1 = Member
m1.name = "Umesh" # this code will work without self as method is not present in class
print(m1.name)

Umesh

In [119]:
m2 = Member
print(m2.name)

Jatin

In [118]:
m2.name = "Jatin"
print(m2.name)

Jatin

Another example

In [123]:
class Member:
  name = "Jatin"

In [121]:
m1 = Member
m2 = Member
m1.name = "Umesh" # this code will work without self as method is not present in class
print(m1.name, m2.name)

Umesh Umesh

In [124]:
m1 = Member()
m2 = Member()
m1.name = "Umesh" # this code will work without self as method is not present in class
print(m1.name, m2.name)

Umesh Jatin

## __INIT__ method

In [47]:
class Member:
  def __init__(self):
    print("Initialized")
    name = "abc"

In [48]:
m1 = Member()
print(m1.name)

Initialized

AttributeError: 'Member' object has no attribute 'name'

In [49]:
class Member:
  def __init__(self):
    print("Initialized")
    self.name = "abc"

In [50]:
m1 = Member()
print(m1.name)

Initialized
abc

## Adding extra attributes in INIT() method

In [54]:
class Member:
  def __init__(self, name): # arguments, here name is argument
    print("Initialized")
    self.name = name # self.name, here name is attribute

In [55]:
m1 = Member("Rakesh")
print(m1.name)

Initialized
Rakesh

In [56]:
m2 = Member()

TypeError: Member.__init__() missing 1 required positional argument: 'name'

## Next concept - INHERITENCE and POLYMORPHISM; METHOD OVERRIDING

In [84]:
class Member:
  def __init__(self, given_name):
    self.name = given_name

  def intro(self):
    print("Hello my name is",self.name)

class Teacher(Member):
  def __init__(self, given_name, given_subject):
    self.name = given_name
    self.subject = given_subject

  def intro(self):
    print("I am your teacher don't ask me my Intro")

In [66]:
m1 = Member
m1.intro("Umesh")

Hello my name is Umesh

In [85]:
t1 = Teacher("Umesh", "Python")
print(t1.name)
t1.intro()

Umesh
I am your teacher don't ask me my Intro

- In above eg we are creating init() again and again, so what if we want member class to handle the name part and other attributes can be taken care in sub class like teacher and student. Let us get introduce to SUPER

In [90]:
class Member:
  def __init__(self, given_name):
    self.name = "Sir/Mam " + given_name

  def intro(self):
    print("Hello my name is",self.name)

class Teacher(Member):
  def __init__(self, given_name, given_subject):
    super().__init__(given_name)
    #self.name = given_name
    self.subject = given_subject

class Student(Member):
  def __init__(self, given_name, given_course):
    super().__init__(given_name)
    #self.name = given_name
    self.course = given_course

In [93]:
s1 = Student("Jayesh", "Advance Mechanics")
print(s1.name)
s1.course

Sir/Mam Jayesh

'Advance Mechanics'