<a href="https://colab.research.google.com/github/umeshh3991/Scaler/blob/Module-3/Mod_3_Lec_4_Recursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Factorial

In [ ]:
def factorial(n):

  print("Executing factorial of ",n)

  if n == 1 or n == 0:
    return 1

  res = n * factorial(n-1)
  print("Completed calculating factorial of ",n)
  return (res)

factorial(4)

Executing factorial of  4
Executing factorial of  3
Executing factorial of  2
Executing factorial of  1
Completed calculating factorial of  2
Completed calculating factorial of  3
Completed calculating factorial of  4

24

## Merge Sort

Q. WAP to sort elements using merge sort

In [1]:
def merge(arr1, arr2):
  i = 0
  j = 0
  result = []
  count = 0

  while(i < len(arr1) and j < len(arr2)):

    print("Merge Function ",arr1)
    print("Merge Function ",arr2)

    #count += 1
    #print("Iterations #",count)

    if (arr1[i] < arr2[j]):
      result.append(arr1[i])
      i += 1

    else:
      result.append(arr2[j])
      j += 1

  if (i < len(arr1)):
      result = result + arr1[i:]

  if (j < len(arr2)):
      result = result + arr2[j:]

  return(result)

In [2]:
def merge_sort(arr):

  n = len(arr)
  mid = n // 2

  if n == 1:
    return(arr)

  left = merge_sort(arr[:mid])
  right = merge_sort(arr[mid:])

  print("Merge SORT Function ",left)
  print("Merge SORT Function ",right)

  return(merge(left,right))

In [5]:
my_mrg_arr = [5, 2, 6, 1, 7, 8, 3, 4]

In [6]:
merge_sort(my_mrg_arr)

Merge SORT Function  [5]
Merge SORT Function  [2]
Merge Function  [5]
Merge Function  [2]
Merge SORT Function  [6]
Merge SORT Function  [1]
Merge Function  [6]
Merge Function  [1]
Merge SORT Function  [2, 5]
Merge SORT Function  [1, 6]
Merge Function  [2, 5]
Merge Function  [1, 6]
Merge Function  [2, 5]
Merge Function  [1, 6]
Merge Function  [2, 5]
Merge Function  [1, 6]
Merge SORT Function  [7]
Merge SORT Function  [8]
Merge Function  [7]
Merge Function  [8]
Merge SORT Function  [3]
Merge SORT Function  [4]
Merge Function  [3]
Merge Function  [4]
Merge SORT Function  [7, 8]
Merge SORT Function  [3, 4]
Merge Function  [7, 8]
Merge Function  [3, 4]
Merge Function  [7, 8]
Merge Function  [3, 4]
Merge SORT Function  [1, 2, 5, 6]
Merge SORT Function  [3, 4, 7, 8]
Merge Function  [1, 2, 5, 6]
Merge Function  [3, 4, 7, 8]
Merge Function  [1, 2, 5, 6]
Merge Function  [3, 4, 7, 8]
Merge Function  [1, 2, 5, 6]
Merge Function  [3, 4, 7, 8]
Merge Function  [1, 2, 5, 6]
Merge Function  [3, 4, 7, 8]
Merge Function  [1, 2, 5, 6]
Merge Function  [3, 4, 7, 8]
Merge Function  [1, 2, 5, 6]
Merge Function  [3, 4, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
def foo(tar):

  if tar == 5 or tar == 2:
    return(tar)

  left = foo(tar/2)
  right = foo(tar/5)

  print(left)
  print(right)

In [ ]:
foo(10)

5.0
2.0

In [ ]:
def bar(get):

  foo(10)

  return (foo(get))

In [8]:
def merge_sort1(arr):

  n = len(arr)
  mid = n // 2

  if n == 1:
    return(arr)

  left = merge_sort1(arr[:mid])
  right = merge_sort1(arr[mid:])

  return(merge1(left,right))

In [15]:
def merge1(arr1,arr2):

  i = 0
  j = 0

  result = []

  while (i < len(arr1) and j < len(arr2)):

    if (arr1[i] < arr2[j]):
      result.append(arr1[i])
      i += 1

    else:
      result.append(arr2[j])
      j += 1

  if (i < len(arr1)):
    result += arr1[i:]

  if (j < len(arr2)):
    result += arr2[j:]

  return(result)

In [10]:
new_arr = [5,2,6,1,7,8,3,4]

In [16]:
merge_sort1(new_arr)

[1, 2, 3, 4, 5, 6, 7, 8]

Q. Find the sum of all the numbers from n to 1

In [33]:
def sum1(add1):

  result = 0

  if add1 == 1:
    return 1

  result = add1 + sum1(add1-1)

  return(result)

In [31]:
sum1(10)

55

In [32]:
10+9+8+7+6+5+4+3+2+1

55