<a href="https://colab.research.google.com/github/umeshh3991/Scaler/blob/Module-3/Mod_3_Lec_3_Sorting_and_Time_Complexity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Bubble Sort

Q. WAP to sort list of integers using Bubble Sort

In [ ]:
def bubble_sort(array):

  start = 0
  end = len(array)
  count = 0

  while start < end:
    for i in range(end-1):
      count += 1
      print("Iteration #",count)
      if (array[i] > array[i+1]):
        temp = array[i+1]
        array[i+1] = array[i]
        array[i] = temp
    end -= 1

  return(array)

In [ ]:
my_array = [5, 1, 2, 4, 7, 3]

In [ ]:
bubble_sort(my_array)

Iteration # 1
Iteration # 2
Iteration # 3
Iteration # 4
Iteration # 5
Iteration # 6
Iteration # 7
Iteration # 8
Iteration # 9
Iteration # 10
Iteration # 11
Iteration # 12
Iteration # 13
Iteration # 14
Iteration # 15

[1, 2, 3, 4, 5, 7]

- Some optimization on above code

In [ ]:
def bubble_sort1(array1):

  start = 0
  end = len(array1)
  count = 0

  while start < end:
    for i in range(end-1):
      count += 1
      print("Iteration #",count)
      if (array1[i] > array1[i+1]):
        array1[i], array1[i+1] = array1[i+1], array1[i] # swapping in python
    end -= 1

  return(array1)

In [ ]:
my_array1 = [5, 1, 2, 4, 7, 3]

In [ ]:
bubble_sort1(my_array1)

Iteration # 1
Iteration # 2
Iteration # 3
Iteration # 4
Iteration # 5
Iteration # 6
Iteration # 7
Iteration # 8
Iteration # 9
Iteration # 10
Iteration # 11
Iteration # 12
Iteration # 13
Iteration # 14
Iteration # 15

[1, 2, 3, 4, 5, 7]

In [ ]:
my_array_new = [1, 3, 9, 12, 4, 6, 32]

In [ ]:
bubble_sort1(my_array_new)

Iteration # 1
Iteration # 2
Iteration # 3
Iteration # 4
Iteration # 5
Iteration # 6
Iteration # 7
Iteration # 8
Iteration # 9
Iteration # 10
Iteration # 11
Iteration # 12
Iteration # 13
Iteration # 14
Iteration # 15
Iteration # 16
Iteration # 17
Iteration # 18
Iteration # 19
Iteration # 20
Iteration # 21

[1, 3, 4, 6, 9, 12, 32]

- As in above code we can observe after 4 got sorted then sorting was completed, so the rest of the swap coul be skipped. Hence, below code showcase it how it needs to be done

In [ ]:
def bubble_sort2(array2):

  start = 0
  end = len(array2)
  count = 0

  while start < end:
    swap = False
    for i in range(end-1):
      count += 1
      print("Iteration #",count)
      if (array2[i] > array2[i+1]):
        array2[i], array2[i+1] = array2[i+1], array2[i] # swapping in python
        swap = True

    if not swap:
        break

    end -= 1

  return(array2)

In [ ]:
my_array2 = [5, 1, 2, 4, 7, 3]

In [ ]:
bubble_sort2(my_array2)

Iteration # 1
Iteration # 2
Iteration # 3
Iteration # 4
Iteration # 5
Iteration # 6
Iteration # 7
Iteration # 8
Iteration # 9
Iteration # 10
Iteration # 11
Iteration # 12
Iteration # 13
Iteration # 14

[1, 2, 3, 4, 5, 7]

## Time Complexity Notations

## BIG O Notation

1. O(n)

In [ ]:
def linear_function(n):
  count = 0

  for i in range (n):
    count += 1
    print(count)

linear_function(5)

1
2
3
4
5

2. O(n**2)

In [ ]:
def quadratic_function(n):

  count = 0

  for i in range(n):
    for j in range(n):
      count += 1
      print(count)

quadratic_function(5)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

3. O(1)

In [ ]:
def constant_function(n):
  count = 0

  for i in range (10):
    count += 1
    print(count)

constant_function(500000)

1
2
3
4
5
6
7
8
9
10

4. Log(n)

In [ ]:
def log_function(n):

  i = 1
  count = 1

  while i < n:
    print("Iteration #",count)
    count += 1

    i *= 2
    print(i)

log_function(32)

Iteration # 1
2
Iteration # 2
4
Iteration # 3
8
Iteration # 4
16
Iteration # 5
32

## Merge Sort

Q. WAP to sort the elements using Merge Sort

In [ ]:
def merge_sort(arr1, arr2):
  i = 0
  j = 0
  result = []
  count = 0

  while(i < len(arr1) and j < len(arr2)):

    count += 1
    print("Iterations #",count)

    if (arr1[i] < arr2[j]):
      result.append(arr1[i])
      i += 1

    else:
      result.append(arr2[j])
      j += 1

  if (i < len(arr1)):
      result = result + arr1[i:]

  if (j < len(arr2)):
      result = result + arr2[j:]

  return(result)

my_arr1 = [1, 3, 9, 12]
my_arr2 = [4, 6, 32]

merge_sort(my_arr1, my_arr2)

Iterations # 1
Iterations # 2
Iterations # 3
Iterations # 4
Iterations # 5
Iterations # 6

[1, 3, 4, 6, 9, 12, 32]

## Selection Sort

Q. WAP to sort the elements using Selection Sort

In [ ]:
def selection_sort(arr):

  n = len(arr)
  count = 0

  for i in range (n-1):
    print(arr)
    for j in range(n-i-1):
      count += 1

      if arr[i] > arr[j+i+1]:
        arr[i], arr[j+i+1] = arr[j+i+1], arr[i]

  print("Total Iterations ",count)
  return(arr)

In [ ]:
my_sel_arr = [13, 52, 9, 16, 25]

In [ ]:
selection_sort(my_sel_arr)

[13, 52, 9, 16, 25]
[9, 52, 13, 16, 25]
[9, 13, 52, 16, 25]
[9, 13, 16, 52, 25]

[9, 13, 16, 25, 52]

In [ ]:
my_sel_arr1 = [42, 34, 22, 67, 45, 12, 36, 10, 12]

In [ ]:
selection_sort(my_sel_arr1)

[42, 34, 22, 67, 45, 12, 36, 10, 12]
[10, 42, 34, 67, 45, 22, 36, 12, 12]
[10, 12, 42, 67, 45, 34, 36, 22, 12]
[10, 12, 12, 67, 45, 42, 36, 34, 22]
[10, 12, 12, 22, 67, 45, 42, 36, 34]
[10, 12, 12, 22, 34, 67, 45, 42, 36]
[10, 12, 12, 22, 34, 36, 67, 45, 42]
[10, 12, 12, 22, 34, 36, 42, 67, 45]
Total Iterations  36

[10, 12, 12, 22, 34, 36, 42, 45, 67]

## Insertion Sort

Q. WAP to sort the elements using Insertion Sort

In [4]:
def insertion_sort(arr):

  n = len(arr)

  for i in range(1, n):

    print(arr)
    j = i

    while j > 0 and arr[j-1] > arr[j]:
      arr[j], arr[j-1] = arr[j-1], arr[j]
      j -= 1

  return(arr)

In [5]:
my_ins_arr = [13, 52, 9, 16, 25]

In [6]:
insertion_sort(my_ins_arr)

[13, 52, 9, 16, 25]
[13, 52, 9, 16, 25]
[9, 13, 52, 16, 25]
[9, 13, 16, 52, 25]

[9, 13, 16, 25, 52]