<a href="https://colab.research.google.com/github/umeshh3991/Scaler/blob/main/Nested_Loops_Jump_Stmt_Mod_1_Lec_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- Write a program that prints the following

1 4 7 10 13 16

- Using WHILE Loop

In [ ]:
r = int(input("Enter the range : "))

i = 0
sum = 1

while (i < r):
  if (i == 0):
    print(sum, end=" ")
    i += 3
    continue
  sum += 3
  print(sum, end=" ")
  i += 3

Enter the range : 16
1 4 7 10 13 16

In [ ]:
r = int(input("Enter the range : "))

i = 1

while(i <= r):
  print(i, end=" ")
  i += 3

Enter the range : 16
1 4 7 10 13 16

- Using FOR Loop

- Increment

In [ ]:
for i in range(1,17,3):
  print(i, end=" ")

1 4 7 10 13 16

Decrement

In [ ]:
for i in range(16, 0, -3):
  print(i, end = " ")

16 13 10 7 4 1

- Range

In [ ]:
list(range(1,5))

[1, 2, 3, 4]

In [ ]:
list(range(-5,0))

[-5, -4, -3, -2, -1]

In [ ]:
list(range(-5,0,0))

ValueError: range() arg 3 must not be zero

In range
- if jump is positive a < b
- if jump is negative then a > b
- if jump is 0 then that's an error

Q. WAP tp print the following
- 1 3 7 13 21 31 43

- Using WHILE loop

In [ ]:
a = int(input("Enter the range : "))

sum = 1
i = 1

while(sum < a):
  if (i == 1):
    print(i, end=" ")
    i += 1
    continue
  sum = sum + i
  print(sum, end=" ")
  i += 2

Enter the range : 43
1 3 7 13 21 31 43

- Using FOR Loop

In [ ]:
b = int(input("Enter the range : "))

i = 0
sum = 1

for i in range(0, b, 2):
  sum += i
  print(sum, end = " ")

Enter the range : 13
1 3 7 13 21 31 43

## Nested Loop

In [ ]:
for i in range(3):
  for j in range(3):
    print(i,j, end = "   ")
  print()

0 0   0 1   0 2
1 0   1 1   1 2
2 0   2 1   2 2

- Printing a 3X3 pattern of *

In [ ]:
for i in range(3):
  for j in range(3):
    print("*", end = " ")
  print()

* * *
* * *
* * *

Q. WAP to print

   "*"

   "* *"
   
   "* * *"

   "* * * *"

In [ ]:
for i in range(5):
  for j in range(i):
    print("*", end = " ")
  print()

*
* *
* * *
* * * *

In [ ]:
for i in range(4):
  print("* " * 4)

* * * *
* * * *
* * * *
* * * *

In [ ]:
for i in range(4):
  print("* " * (i+1))

*
* *
* * *
* * * *

In [ ]:
Z = int(input("Enter the rows : "))

for i in range(Z):
  print(" " * (Z-i-1) + "*" * (2 * i + 1))

Enter the rows : 4
   *
  ***
 *****
*******

Q - WAP to print
- 5 5 5 5 5
- 5 4 4 4 5
- 5 4 3 4 5
- 5 4 4 4 5
- 5 5 5 5 5

In [ ]:
n = int(input("Enter the range : "))

for i in range(n):
  for j in range(n):
    print(max(i+1, j+1, n-i, n-j), end = " ")
  print()

Enter the range : 9
9 9 9 9 9 9 9 9 9
9 8 8 8 8 8 8 8 9
9 8 7 7 7 7 7 8 9
9 8 7 6 6 6 7 8 9
9 8 7 6 5 6 7 8 9
9 8 7 6 6 6 7 8 9
9 8 7 7 7 7 7 8 9
9 8 8 8 8 8 8 8 9
9 9 9 9 9 9 9 9 9

In [ ]:
H  = int(input("Enter the range : "))

L = H//2

for i in range(L+1):
  for j in range(H):
    if((i+j) >= (H)):
      print(j+1, end = " ")
    elif (i <= j):
      print(H-i, end = " ")
    elif (i > j):
      print(H-j, end= " ")
  print()

for i in range(L+1, H):
  print(i)

Enter the range : 9
9 9 9 9 9 9 9 9 9
9 8 8 8 8 8 8 8 9
9 8 7 7 7 7 7 8 9
9 8 7 6 6 6 7 8 9
9 8 7 6 5 6 7 8 9
5
6
7
8